<div class="login-container">
  <form (ngSubmit)="onSubmit()" [formGroup]="loginForm" class="login-form">
    <h2>{{ 'LOGIN.TITLE' | translate }}</h2>
    <mat-form-field appearance="fill">
      <input matInput placeholder="{{ 'LOGIN.EMAIL_PLACEHOLDER' | translate }}" formControlName="correo" type="email" required>
      <mat-error *ngIf="loginForm.controls['correo'].invalid && loginForm.controls['correo'].touched">
        {{ 'LOGIN.EMAIL_ERROR' | translate }}
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <input matInput [type]="hide ? 'password' : 'text'" placeholder="{{ 'LOGIN.PASSWORD_PLACEHOLDER' | translate }}" formControlName="passwd" required>
      <button mat-icon-button matSuffix (click)="hide = !hide" type="button">
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="loginForm.controls['passwd'].invalid && loginForm.controls['passwd'].touched">
        {{ 'LOGIN.PASSWORD_ERROR' | translate }}
      </mat-error>
    </mat-form-field>
    <button mat-raised-button color="primary" type="submit" [disabled]="loginForm.invalid">{{ 'LOGIN.SUBMIT_BUTTON' | translate }}</button>
  </form>
</div>
