<header>
  <h1 style="display: none;">Inventrack</h1>
</header>
<ng-container *ngIf="isNavbarVisible | async">
  <mat-toolbar class="navmenu">
    <mat-button class="menu-button" style="color: white;" mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </mat-button>
    <span class="tittle">{{ 'APP_TITLE' | translate }}</span>

    <span class="spacer"></span>
    <mat-button mat-icon-button style="color: white;" [matMenuTriggerFor]="langMenu">
      <mat-icon>language</mat-icon>
    </mat-button>
    <mat-menu #langMenu="matMenu">
      <mat-button mat-menu-item (click)="switchLanguage('en')">{{ 'MENU.LANGUAGES.ENGLISH' | translate }}</mat-button>
      <mat-button mat-menu-item (click)="switchLanguage('es')">{{ 'MENU.LANGUAGES.SPANISH' | translate }}</mat-button>
    </mat-menu>
  </mat-toolbar>

  <!-- Menú principal de la aplicación -->
  <mat-menu #menu="matMenu">
    <mat-button mat-menu-item routerLink="/reports">
      <mat-icon>assessment</mat-icon>
      <span>{{ 'MENU.REPORTS' | translate }}</span>
    </mat-button>
    <mat-button mat-menu-item [matMenuTriggerFor]="subMenu">
      <mat-icon>dashboard</mat-icon>
      <span>{{ 'MENU.MANAGE_INVENTORY' | translate }}</span>
    </mat-button>
    
    <mat-menu #subMenu="matMenu">
      <mat-button mat-menu-item routerLink="/articles">
        <span>{{ 'MENU.MANAGE_PRODUCTS' | translate }}</span>
      </mat-button>
      <mat-button mat-menu-item routerLink="/manage-providers">
        <span>{{ 'MENU.MANAGE_PROVIDERS' | translate }}</span>
      </mat-button>
      <mat-button mat-menu-item routerLink="/sales">
        <span>{{ 'MENU.MANAGE_SALES' | translate }}</span>
      </mat-button>
    </mat-menu>

    <mat-button mat-menu-item routerLink="/usuarios">
      <mat-icon>person_add</mat-icon>
      <span>{{ 'MENU.MANAGE_USERS' | translate }}</span>
    </mat-button>

    <mat-button mat-menu-item routerLink="/settings">
      <mat-icon>settings</mat-icon>
      <span>{{ 'MENU.SETTINGS' | translate }}</span>
    </mat-button>

    <mat-button mat-menu-item (click)="logout()">
      <mat-icon>logout</mat-icon>
      <span>{{ 'MENU.LOGOUT' | translate }}</span>
    </mat-button>
  </mat-menu>
</ng-container>

<div>
  <router-outlet></router-outlet>
</div>
<footer>
</footer>